/* Write your CSS here */
.delete {
  width: 20px;
}
button {
  border-style: none;
  background-color: transparent;
}
li {
  list-style: none;
}
/*
.box {
  border: 1px solid rgb(34, 28, 28);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}*/
